{% extends 'index.html' %}
{% block title %}   ORUGA 00   {% endblock %}

{% block content %}

<h3>Mapping against &deg;Hotels </h3>

<hr/>

<div class="lead"><strong> 8584 </strong> Items found </div>
<div class="lead"><strong> 89% </strong> Sparcity</div>

<hr/>

<p>This ring will be available in your vespa. Please notice that since this is a ProxyRing you'll have limited functionality</p>

<hr/>
<div class="lead">Further actions</div>

  <a href="07" class="btn btn-default">Export all data into a real Ring</a> <br/>
    <a href="09" class="btn btn-default">Decouple DB from the Ring</a><br/>
      <a href="12" class="btn btn-default">Control what I can do from the Ring</a><br/>





{% endblock %}