{% extends 'avispa/avi-A.html' %}
{% load static %}

                        {% block result1 %}

                        <div class="rn-box-space">
                            
                                    

                                    <div class="btn-group pull-right">
                                        <a href="/avispa/01" type="button" class="btn btn-primary btn-xs">
                                        <i class="fa fa-th-list"></i>
                                        </a>
                                        <a href="/avispa/06" type="button" class="btn btn-default btn-xs">
                                            <i class="fa fa-th-large"></i>
                                        </a>
                                    </div>
                                    


                                    <strong>26 Results</strong>
   
                        </div>


                        <!-- RESULT LIST START -->

                        <div class="rn-box-content">
                            <table class="table table-striped">
                                <tr>
                                    <td style="width:15%;">


                                        <img style="width:70px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                                       

                                        <div class="btn-group">
                                            <a href="08" type="button" class="btn btn-info btn-xs">
                                            <i class="fa fa-pencil"></i>
                                            </a>
                                           
                                            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
                                                 <i class="fa fa-times"></i>
                                            </button>

                                        </div>
                                              
                                    </td>
                                    <td style="width:30%;">

                                        
                                            <dl class="dl-horizontal">
                                              <dt>Name:</dt>
                                              <dd>Sunsetroom1.jpg</dd>

                                              <dt>Format:</dt>
                                              <dd>JPG</dd>

                                              <dt>Width:</dt>
                                              <dd>900px</dd>

                                              <dt>Height:</dt>
                                              <dd>400px</dd>

                                            </dl>
                                        
                                    </td>
                                    <td style="width:55%;">
                                        <p class="rn-t3 rn-gray">
                                        Router what URI segments to use if those provided | in the URL cannot be matched to a valid routeayRouter what URI segments to use if those provided | in the URL cannot be matched to a valid routeay
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <img style="width:70px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >

                                        <div class="btn-group">
                                            <a href="08" type="button" class="btn btn-info btn-xs">
                                            <i class="fa fa-pencil"></i>
                                            </a>
                                           
                                            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
                                                 <i class="fa fa-times"></i>
                                            </button>

                                        </div>


                                    </td>
                                    <td>
                                        <dl class="dl-horizontal">
                                          <dt>Name:</dt>
                                          <dd>Sunsetroom1.jpg</dd>

                                          <dt>Format:</dt>
                                          <dd>JPG</dd>

                                          <dt>Width:</dt>
                                          <dd>900px</dd>

                                          <dt>Height:</dt>
                                          <dd>400px</dd>

                                        </dl>
                                    </td>
                                    <td>
                                        <p class="rn-t3 rn-gray">
                                        Router what URI segments to use if those provided | in the URL cannot be matched to a valid routeayRouter what URI segments to use if those provided | in the URL cannot be matched to a valid routeay
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <img style="width:70px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                                        <div class="btn-group">
                                            <a href="08" type="button" class="btn btn-info btn-xs">
                                            <i class="fa fa-pencil"></i>
                                            </a>
                                           
                                            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
                                                 <i class="fa fa-times"></i>
                                            </button>

                                        </div>

                                    </td>
                                    <td>
                                        <dl class="dl-horizontal">
                                          <dt>Name:</dt>
                                          <dd>Sunsetroom1.jpg</dd>

                                          <dt>Format:</dt>
                                          <dd>JPG</dd>

                                          <dt>Width:</dt>
                                          <dd>900px</dd>

                                          <dt>Height:</dt>
                                          <dd>400px</dd>

                                        </dl>
                                    </td>
                                    <td>
                                        <p class="rn-t3 rn-gray">
                                        Router what URI segments to use if those provided | in the URL cannot be matched to a valid routeayRouter what URI segments to use if those provided | in the URL cannot be matched to a valid routeay
                                        </p>
                                    </td>

                                </tr>
                            </table>
                         
                        
                            
                        </div><!-- //close box content -->
                        <div class="">
                            <ul class="pagination">
                              <li><a href="#">&laquo;</a></li>
                              <li class="active"><a href="#">1</a></li>
                              <li class="disable"><a href="#">2</a></li>
                              <li class="disable"><a href="#">3</a></li>
                              <li><a href="#">&raquo;</a></li>
                            </ul>
                        <div class="pull-right">
                            <a href="03" type="button" class="btn btn-success btn-xs pull-right" style="margin:0 5px;">
                               <i class="fa fa-plus"></i> &nbsp; NEW
                             </a>
                        </div>     

                        </div>


                        <!-- RESULT LIST FIN -->


                        {% endblock %}