{% extends 'index.html' %}
{% load static %}

{% block title %}Avispa{% endblock %}

{% block crumb %}
<!-- <button type="button" class="btn btn-default bt-crumb"><i class="fa fa-chevron-right"></i></button> -->
<!-- <button type="button" class="btn btn-default">Local Ring</button> -->

{% endblock crumb%}

{% block content %}


<!-- THIS CONTENT WILL FALL INTO THE MAIN BOX --> 



        <div class="row">
          <div class="col-sm-12">
            <div class="rn-box-title">
                <strong> <!-- Ring owner  -->{% block form-0 %}{% endblock%}  </strong> 
                
                  <button type="button" class="btn btn-default btn-xs pull-right">
                    <i class="fa fa-question-circle"></i>
                  </button>
            </div>
            <div class="rn-box-solo">         
              <div class="row">
                <div class="col-sm-3">
                  {% block form-1 %}<!-- RESOURCE  PIC-->{% endblock%}
                </div>
                <div class="col-sm-9" >
                  {% block form-2 %}<!-- RESOURCE DESCRIPTION -->{% endblock%}
                </div>
              </div> 
            </div>
            <div class="rn-box-content">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Summary</label>
                  <div class="col-sm-10">
                      {% block form-3 %}<!--    SUMMARY-->{% endblock%}
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    {% block form-4 %}<!--    DESCRIPTION-->{% endblock%}
                  </div>
                </div>              
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Tags</label>
                  <div class="col-sm-10">
                    {% block form-5 %}<!--    TAGS--> {% endblock%}
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    {% block form-6 %}<!--  BUTTONS--> {% endblock%}
                  </div>
                </div>
              </form>     
            </div><!-- //close box content -->
          </div><!-- close 12 -->   
        </div> <!-- close row -->

{% endblock content%}
