{% extends 'index.html' %}
{% load static %}


{% block crumb %}
<button type="button" class="btn btn-default bt-crumb"><i class="fa fa-chevron-right"></i></button>
<!-- <button type="button" class="btn btn-default">Local Ring</button> -->

{% endblock crumb%}

{% block content %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
    <div class="container">
        <div class="row">
            
            <div class="col-md-9">  


                <div class="row">
                    <div class="col-sm-12">
                        <div class="rn-box-title">
                            <strong>@Hilton-Times-Square</strong>
                            

                            <button type="button" class="btn btn-default btn-xs pull-right">
                            <i class="fa fa-question-circle"></i>
                            </button>
                           

                            

                        </div>
                        <div class="rn-box-solo">

                            <div class="row">
                                <div class="col-sm-3">
                                    <img style="width:150px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                                </div>
                                <div class="col-sm-9" >
                                    

                                        <dl class="dl-horizontal text-left">
                                              <dt>Name:</dt>
                                              <dd>Sunsetroom1.jpg</dd>

                                              <dt>Format:</dt>
                                              <dd>JPG</dd>

                                              <dt>Width:</dt>
                                              <dd>900px</dd>

                                              <dt>Height:</dt>
                                              <dd>400px</dd>

                                        </dl>
                                    
                                </div>
                                
                            </div>    
                        </div>
                        <!-- <div class="rn-box-space">
                            
                                <div class="rn-b1">123</div>
                            
                        </div> -->
                        <div class="rn-box-content">
                            
                            

                        
                         
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Summary</label>

                                    <div class="col-sm-10">
                                      <h4>Princess Bedroom </h4>
                                    </div>
                                </div>
                                

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                      <p>Allow browsers to determine video or slideshow dimensions based on the width of their containing block by creating an intrinsic ratio that will properly scale on any device.</p>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Tags</label>
                                    <div class="col-sm-10">
                                    

                                      <div>
                            
                            <span class="label label-success rn-mar5"> Deluxe Room </span>
                            <span class="label label-success rn-mar5"> Jacuzzi </span>
                            <span class="label label-success rn-mar5"> Ocean View  </span>
                         
                            
                            
                            <span class="label label-warning rn-mar5"> Hotels </span>
                            <span class="label label-warning rn-mar5"> Room Images </span>
                            <span class="label label-warning rn-mar5"> Space stations</span>
                            
                            
                                
                                        </div>




                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <a type="submit" class="btn btn-success">Edit</a>
                                        <a type="submit" class="btn btn-default">Delete This</a>
                                    </div>
                                </div>

                            </form>        
                        
                            
                        </div><!-- //close box content -->
                        
                    </div><!-- close 12 -->   
                </div> <!-- close row -->

            </div> <!-- close 9 -->
            <div class="col-sm-3">
                <div class="rn-box-space">
                            <strong>ToolBar </strong>

                            <button type="button" class="btn btn-default btn-xs" style="float:right;">
                            <i class="fa fa-question-circle"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" style="float:right;">
                            <i class="fa fa-wrench"></i>
                            </button>

                </div>
                <div class="rn-box-content">
                
                    <p>Tools, one click away</p>

                </div>
            </div>    

        </div>
    </div>
</section>


{% endblock content%}
