{% extends 'index.html' %}
{% block title %}<title>Avispa</title>{% endblock %}

{% block crumb %}
<button type="button" class="btn btn-default bt-crumb"><i class="fa fa-chevron-right"></i></button>
<button type="button" class="btn btn-default">Local Ring</button>

{% endblock crumb%}

{% block content %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
    <div class="container">
        <div class="row">
            
            <div class="col-md-9">  


                <div class="row">
                    <div class="col-sm-12">
                        <div class="rn-box-title">
                            <strong>@MTV_network</strong>
                            

                            <button type="button" class="btn btn-default btn-xs pull-right">
                            <i class="fa fa-question-circle"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs pull-right">
                            <i class="fa fa-th-list"></i>
                            </button>

                            

                        </div>
                        <div class="rn-box-solo">
                            <div class="pull-right rn-t3 text-right">
                                <i class="fa fa-dot-circle-o fa-2x" style="color:#CCC; padding:0 10px;"></i>
                            </div>
                        
                            <div class="pull-right rn-t3 text-right"><strong>Friday July 19, 2014</strong><br/> 34,543 Resources
                            </div>
                            <div class="rn-t2">Local Rings</div>

                            
                        </div>
                        <!-- <div class="rn-box-space">
                            
                                <div class="rn-b1">123</div>
                            
                        </div> -->
                        <div class="rn-box-content">
                            
                         
                        
                            
                        </div><!-- //close box content -->
                        <div class="">
                            <ul class="pagination">
                              <li><a href="#">&laquo;</a></li>
                              <li class="active"><a href="#">1</a></li>
                              <li class="disable"><a href="#">2</a></li>
                              <li class="disable"><a href="#">3</a></li>
                              <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div><!-- close 12 -->   
                </div> <!-- close row -->

            </div> <!-- close 9 -->
            <div class="col-sm-3">
                <div class="rn-box-space">
                            <strong>ToolBar </strong>

                            <button type="button" class="btn btn-default btn-xs" style="float:right;">
                            <i class="fa fa-question-circle"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" style="float:right;">
                            <i class="fa fa-wrench"></i>
                            </button>

                </div>
                <div class="rn-box-content">
                
                    <p>Tools, one click away</p>

                </div>
            </div>    

        </div>
    </div>
</section>






{% endblock %}