{% extends 'index.html' %}
{% load static %}

{% block title %} Avispa {% endblock %}

{% block crumb %}
<button type="button" class="btn btn-default bt-crumb"><i class="fa fa-chevron-right"></i></button>
<button type="button" class="btn btn-default">Local Ring</button>

{% endblock crumb%}

{% block content %}


<!-- START NEW CONTENT --> 



                <div class="row">
                    <div class="col-sm-12">
                        <div class="rn-box-title">
                            <strong>Search Results</strong>
                            

                            

                            <div class="btn-toolbar pull-right" role="toolbar">
                                <div class="btn-group">
                                    <a href="05" type="button" class="btn btn-default btn-xs">
                                    <i class="fa fa-arrow-left"></i>
                                    </a>
                                    <a href="" type="button" class="btn btn-default btn-xs">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                                        <i class="fa fa-question-circle"></i>
                                    </button>
                                </div>
                              
                            </div>

                            

                        </div>
                        
                        <div class="rn-box-solo">
                            <h5 style="line-height:25px;">
                            <span class="text-success rn-mar5">Contains: </span>
                            <span class="label label-success rn-mar5"> Deluxe Room <i class="fa fa-times"></i> </span>
                            <span class="label label-success rn-mar5"> Jacuzzi <i class="fa fa-times"></i> </span>
                            <span class="label label-success rn-mar5"> Ocean View <i class="fa fa-times"></i> </span>
                            <span class="label label-success rn-mar5"> Luxury <i class="fa fa-times"></i> </span>
                            <span class="label label-success rn-mar5"> Lujo <i class="fa fa-times"></i> </span>
                            
                            <span class="text-warning rn-mar5">Rings: </span>
                            
                            <span class="label label-warning rn-mar5"> Hotels <i class="fa fa-times"></i> </span>
                            <span class="label label-warning rn-mar5"> Room Images <i class="fa fa-times"></i> </span>
                            <span class="label label-warning rn-mar5"> Space stations<i class="fa fa-times"></i> </span>
                            
                            <span class="text-info rn-mar5">Specs: </span>
                            <span class="label label-info rn-mar5"> width= 200px <i class="fa fa-times"></i> </span>
                            <span class="label label-info rn-mar5"> licence= CC <i class="fa fa-times"></i> </span>
                            
                            <span class="text-default rn-mar5">Created: </span>
                            <span class="label label-default rn-mar5"> BEF : 2014-03-12 <i class="fa fa-times"></i> </span>
                            
                            <span class="label label-default rn-mar5">AFT : 2014-09-22 <i class="fa fa-times"></i> </span>
                            </h5>
                            
                        </div>
                        

                        {% block result1 %}

                                <!-- HERE LIST OR ICON VIEW -->

                        {% endblock %}
                        


                    </div><!-- close 12 -->   
                </div> <!-- close row -->


{% endblock %}



{% block modals %}

<!-- //////////////////////////////////////////////////////////////////////////////-->
<!-- AVISPA MODALS-->
<!-- //////////////////////////////////////////////////////////////////////////////-->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are You sure you want to let this resource go?</h4>
      </div>
      <div class="modal-body">
            

            <div style="float:left; padding:0 10px;">
            <img style="width:150px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
            </div>

            <dl class="">
                  <dt>Name:</dt>
                  <dd>Sunsetroom1.jpg</dd>

                  <dt>Format:</dt>
                  <dd>JPG</dd>

                  <dt>Width:</dt>
                  <dd>900px</dd>

                  <dt>Height:</dt>
                  <dd>400px</dd>

            </dl>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nope</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="helpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Help</h4>
      </div>
      <div class="modal-body">
            
            
            <i class="fa fa-question-circle fa-4x"></i>
                <h5> How can we help you ?</h5>

                <input type="email" class="form-control" id="inputEmail3" placeholder="">



      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Search</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- modal end -->

{% endblock %}