{% extends 'index.html' %}

{% block content %}

<section class="slice bg-3" style="padding-top:90px; padding-bottom: 70px">
	<div class="w-section">
    	<div class="container">
        	<div class="row">
                <div class="col-md-12">
                	<div class="text-center">
                    	<h2><strong>This is not the page you are looking for.</strong></h2>
                    	<h1 class="font-lg">
                        	<strong>4<i class="fa fa-times-circle-o"></i>4</strong>
                        </h1>
                        <h4>The requested page was not found. Sorry!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice bg-2 p-15">
    <div class="cta-wr">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    
                </div>
                <div class="col-md-3 pull-left text-center">
                    <a class="btn btn-four btn-lg text-center" title="" href="">
                    
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}