<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} Sapo {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Required -->
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'css/ring1.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">



    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png"><link rel="stylesheet" href="{% static 'assets/fraction/fractionslider.css' %}" type="text/css" />



    <script type="text/javascript" src="//use.typekit.net/nyy5cxc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catchg(e){}</script>
</head>
<body>

<header>
  <div class="topbar topbar-white" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <img style="width:30px; margin:5px;" src="{% static 'images/myringpurple.png' %}"  alt="Rings">
        <a href="00">
            <span class="rn-clear">MY</span><span class="rn-black">RING </span>
        </a>  
      </div>
        <div class="navbar-collapse collapse">
            <!-- Note: you can use <li class="hidden-sm"> to hide things -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="https://github.com/MyRing/RN-Prototype">Git</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prototypes &nbsp; <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/avi/in">Avispa</a></li>
                    <li><a href="/pap/in">Papalotl</a></li>
                    <li><a href="/oru/in">Oruga</a></li>
                    <li><a href="/cat/in">Catarina</a></li>
                    <li><a href="/cha/in">Chapulin</a></li>
                    <li><a href="/abe/in">Abeja</a></li>
                  </ul>
                </li>
                <!-- <li><a href="#"><i class="fa fa-comment"></i></a></li>
                <li><a href="#"><i class="fa fa-cog"></i></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i></a></li> -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
  </div>
</header>

<br/> 

<section class="bp-20 p-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="pull-right rn-t3 text-right">
            <i class="fa fa-dot-circle-o fa-2x" style="color:#CCC; padding:0 10px;"></i>
        </div>
    
        <div class="pull-right rn-t3 text-right"><strong>Friday July 19, 2014</strong><br/>
        <span class="rn-clear">Resources: <br/>Global: 1,345 / Local: 34,543 </span>
        </div>

        <br/>
                            
                

        <div class="btn-group" style="padding:10px;">
          
          <a href="00" type="button" class="btn btn-vader rn-tx1 btn-crumb"> {% block insect %}{% endblock %} </a>

          <a href="00" type="button" class="btn btn-default rn-tx1"><img style="width:25px;" src="{% static 'images/bea.jpg' %}" class="img-circle" > User </a>

          <div class="label label-crumb"> <h5><i class="fa fa-chevron-right rn-white"></i></h5></div>

          <a href="00" type="button" class="btn btn-default rn-tx1"><img style="width:25px;" class="img-circle" src="{% static 'images/mtvlogo.jpg' %}" >@Hotel</a>

            {% block crumbs %}
                <!-- INSECT CRUMBS HERE  -->
            {% endblock %}

        </div>
      </div>
    </div>
  </div>
</section> 

<section class="bp-20 p-50">
  <div class="container">
    <div class="row">

      <div class="col-md-9">  
        
        {% block content %}
          



          <a href="/avi/in" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-c">C</span></h4>
            <h3><i class="fa fa-bug"></i></h3>Avispa
          </a>
          <a href="/abe/in" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-x">X</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Abeja
          </a>
          <a href="/cat/in" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-x">X</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Catarina
          </a>
          <br/>
          <a href="/cha/in" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-x">X</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Chapulin
          </a>
          <a href="/oru/in" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-m">M</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Oruga
          </a>
          <a href="/pap/in" class="btn btn-default btn-fix1">
          <h4 class="pull-left"><span class="label label-c">C</span></h4>
            <h3><i class="fa fa-bug fa-1x"></i></h3>Papalotl
          </a>



        {% endblock %}

        <hr/>
      </div> <!-- close 9 -->

      <div class="col-sm-3">
        <div class="rn-box-title">
          <strong>ToolBar </strong>

          <button type="button" class="btn btn-default btn-xs" style="float:right;">
          <i class="fa fa-question-circle"></i>
          </button>
          <button type="button" class="btn btn-info btn-xs" style="float:right;">
          <i class="fa fa-wrench"></i>
          </button>

        </div>
        <div class="rn-box-content">

          {% block tools %}
                <!-- INSECT TOOLS HERE -->
                <p>Tools, one click away</p>

          {% endblock %}
          

        </div>
      </div>    
    </div>
  </div>
</section>       




{% block modals %}

<!-- INSECT MODALS HERE -->

{% endblock %}





    <!-- <div class="footer" style="background-color:gray; bottom:0px;">
      <div class="container">
        <p class="text-muted">Footer</p>
      </div>
    </div> -->
    
<!-- JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.js' %}"></script>

<!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->

<script type="text/javascript" src="{% static 'assets/hover-dropdown/bootstrap-hover-dropdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/page-scroller/jquery.ui.totop.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/mixitup/jquery.mixitup.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/mixitup/jquery.mixitup.init.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/fancybox/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
<script type="text/javascript" src="{% static 'assets/easy-pie-chart/jquery.easypiechart.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'assets/waypoints/waypoints.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'assets/datepicker/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/switch/js/bootstrap-switch.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/switch/js/initswitch.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/switch/js/highlight.js' %}"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer="defer"></script>
<script type="text/javascript" src="{% static 'assets/tree/tree.js' %}"></script>

<!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->


<script type="text/javascript" src="{% static 'js/jquery.wp.custom.js' %}"></script>
<script src="{% static 'assets/fraction/jquery.fractionslider.min.js' %}"></script>
<script src="{% static 'assets/fraction/jquery.fractionslider.init.js' %}"></script>
<script src="{% static 'assets/fraction/jquery.fractionslider.init.js' %}"></script>


{% block scripts %}
{% endblock %}

<!-- 
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'XXX', 'XXX');
    ga('send', 'pageview');

</script>

 -->
</body>
</html>
