<button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
                                        <i class="fa fa-question-circle"></i>
</button>

///////////////////////////////////


<i class="fa fa-question-circle"></i>

<i class="fa fa-arrow-right"></i>



/////////////////////////////////// CHECKBOX


<div><input type="checkbox" name="X" value="X" data-on-text="ON" data-off-text="OFF" checked> <span class="text-muted">(Required field for search)</span></div>

<div class="checkbox">
    <label>
      <input type="radio" name="translator" value="01" data-size="mini" data-on-text="&#x2714;" data-off-text="-" checked> CSV to Rings
    </label>
</div>


<input type="radio" name="a" value="" data-size="mini" data-on-text="&#x2714;" data-off-text="-" checked>

///////////////////////////////////  SIMPLE INPUT

	<input type="text" class="form-control" placeholder="">


///////////////////////////////////  IMAGE

<img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >

///////////////////////////////////  FORMS


<form role="form">
  <div class="form-group">
    <label for="">Email address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

////////////




    <div id="collapseDVR3" class="panel-collapse collapse in">
        <div class="tree ">
            <ul>
                <li> <span><i class="fa fa-folder-open"></i> </span> Goes somewhere
                    <ul>
                        <li>	<span><i class="fa fa-minus-square"></i> </span> Goes somewhere
                            <ul>
                                <li> <span><i class="fa fa-video-camera"></i> </span> Goes somewhere</li>
                            </ul>
                        </li>
                        <li>	<span><i class="fa fa-minus-square"></i> Child</span> Goes somewhere
                            <ul>
                                <li> <span><i class="fa fa-video-camera"></i> Grand Child</span> Goes somewhere</li>
                                <li>	<span><i class="fa fa-minus-square"></i> Grand Child</span> Goes somewhere
                                    <ul>
                                        <li> <span><i class="fa fa-minus-square"></i> Great Grand Child</span> Goes
                                            somewhere
                                            <ul>
                                                <li> <span><i class="fa fa-video-camera"></i> Great great Grand Child</span> Goes
                                                    somewhere</li>
                                                <li> <span><i class="fa fa-video-camera"></i> Great great Grand Child</span> Goes
                                                    somewhere</li>
                                            </ul>
                                        </li>
                                        <li> <span><i class="fa fa-video-camera"></i> Great Grand Child</span> Goes
                                            somewhere</li>
                                        <li> <span><i class="fa fa-video-camera"></i> Great Grand Child</span> Goes
                                            somewhere</li>
                                    </ul>
                                </li>
                                <li> <span><i class="fa fa-video-camera"></i> Grand Child</span> Goes somewhere</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li> <span><i class="fa fa-folder-open"></i> Parent2</span> Goes somewhere
                    <ul>
                        <li>	<span><i class="fa fa-video-camera"></i> Child</span> Goes somewhere</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>




///////////////////////////////TEMPLATE FOR GENERIC 


{% extends 'index.html' %}


{% block content %}

<h2><span class="label label-m">M</span></h2><h3>I'm a Data Modeler</h3>
<hr/>

	<div class="lead">Actions for this ring:</div>

	<a href="08" class="btn btn-default btn-fix1">
		<h3><i class="fa fa-gear fa-2x"></i></h3>Clone
	</a>



<hr/>
<a href="00" class="btn btn-primary">OK</a>


{% endblock %}

