{% extends 'index.html' %}
{% load static %}

{% block insect %}
<div class="rn-hp5 pull-left"><span class="label label-x">X</span></div> 
<div class="pull-left"> PAP-15</div>
{% endblock %}



{% block content %}

<div class="row">
  <div class="col-sm-12">
    <div class="rn-box-title">

      <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#helpmodal">
       <i class="fa fa-question-circle"></i>
      </button>
      

      <h2 class="title">Search Results</h2>
      
    </div>
    <div class="rn-box-space">  
          <div class="row">
            <div class="col-sm-12 text-left">
              
              <strong>Ring:</strong>  &deg;RoomImages  <br/>
              <strong>Filter:</strong> Search by Metadata <br/>
            </div>

            <hr/>
          </div> 
    </div>

    <div class="rn-box-content">


    <strong>Ring:</strong>  &deg;RoomImages  <br/>
    <strong>Filter:</strong> Search by Metadata <br/>


<hr/>

        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default">{JSON}</button>
          <button type="button" class="btn btn-default"> [CSV] </button>
        </div>

      <h4>234 Found</h4>

      <hr/>

          <table class="table table-striped">
            <tr>
              <th>Room N</th>
              <th>Desc</th>
              <th>URL</th>

            </tr>
            <tr>
              <td>Deluxe</td>
              <td>This is a Victorian</td>
              <td>http://img.hilton.com/9378</td>

            </tr>
            <tr>
              <td>Standard</td>
              <td>The Fantastic..</td>
              <td>http://img.hilton.com/9378</td>

            </tr>
            <tr>
              <td>Double X</td>
              <td>This room has a..</td>
              <td>http://img.hilton.com/9378</td>

            </tr>


          </table>

      <hr/>
      

      <hr/>
      
        

      <br/><br/>               
    </div><!-- //close box -->


    
  </div><!-- close 12 -->   
</div> <!-- close row -->




{% endblock %}

{% block modals %}

<!-- //////////////////////////////////////////////////////////////////////////////-->
<!-- PAPALOTL-09 MODALS-->
<!-- //////////////////////////////////////////////////////////////////////////////-->





<!--  SCREEN 13 -->
<div class="modal fade" id="screen13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          In order to test, you need at least one source from ring: &deg;RoomImages
          <br/>

          <strong>Source 1 URL:</strong>
          <input type="email" class="form-control" id="" placeholder="http://g.myring.io/hilton/RoomImages#">

          <a href="" > + Add another source to the test.</a>
          <br/><br/>

          <div><input type="checkbox" name="X" value="X" data-on-text="ON" data-off-text="OFF" data-size="mini" checked> <span class="text-muted">Remember sources</span></div>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default btn-xs pull-left" data-dismiss="modal" data-toggle="modal" data-target="#screen14"> RunTest </button>


      </div>
    </div>
  </div>
</div>


<!--  SCREEN 14 -->
<div class="modal fade" id="screen14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          
          <h2>SEARCH</h2>

          <h3>Ring:</h3> &deg;RoomImages

          <h3>Filter:</h3> Search by Metadata         


          <hr/>

          
            <form role="form">
              <div class="form-group">
                <label>Field X</label>
                <input type="text" class="form-control" id="" placeholder="XX">
              </div>
              <div class="form-group">
                <label >Field Y</label>
                <input type="text" class="form-control" id="" placeholder="YY">
              </div>
              <div class="form-group">
                <label >Field Z</label>
                <input type="text" class="form-control" id="" placeholder="YY">
              </div>
            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Find</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}
<!-- modal end -->


