{% extends 'index.html' %}

{% block insect %}
<div class="rn-hp5 pull-left"><span class="label label-x">X</span></div> 
<div class="pull-left"> PAP-01</div>
{% endblock %}



{% block content %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
  <div class="container">
    <div class="row">

      <div class="col-md-9">  
        <div class="row">
          <div class="col-sm-12">
            <div class="rn-box-title">

              <button type="button" class="btn btn-default btn-xs pull-right">
              <i class="fa fa-question-circle"></i>
              </button>

              <a href="04" type="button" class="btn btn-default btn-xs pull-right">
              <i class="fa fa-search"></i> SEARCH
              </a>

              <h2 class="title">Ring Filters</h2>
                <p class="lead">Select one or more filters</p>
            </div>
            <div class="rn-box-space">             
            </div>
  
                        
            <div class="rn-box-content">

            <br/>

              <table class="table"> <!-- inner row -->
                <tr>
                  
                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">     
                      <svg height="70" width="75">
                      
                      <circle cx="42" cy="36" r="30" stroke="#DDD" stroke-width="4" fill="none" />
                      <circle cx="40" cy="35" r="30" stroke="orange" stroke-width="2" fill="none" />
                      
                      </svg>

                      <div class="pull-right"><h3 class="title">&deg;RoomImages</h3></div>

                    </div>
                  <!-- endfilter  -->

                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">     
                      <span class="label label-default rn-mar5"> Filter <strong>1</strong></span>
                      <span style="margin:0 50px;">Search by Metadata</span>
                      <div class="btn-group pull-right">
                        <span class="btn-group ">
                          <a href="04" type="button" class="btn btn-default btn-xs pull-right">EDIT</a>
                          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#filtermodal">
                             USE
                          </button>
                          
                        </span>
                        <span style="padding-left:20px;">
                          <input type="checkbox" name="switch01" checked data-size="mini" data-on-text="ON" data-off-text="OFF">
                        </span> 
                      </div>

                    </div>
                  <!-- endfilter  --> 

                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">   

                      <span class="label label-default rn-mar5"> Filter <strong>2</strong></span>
                      <span style="margin:0 50px;">Search by Format</span>
                      <div class="btn-group pull-right">
                        <span class="btn-group ">
                          <a href="04" type="button" class="btn btn-default btn-xs pull-right">EDIT</a>
                          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#filtermodal">
                             USE
                          </button>
                        </span>
                        <span style="padding-left:20px;">
                          <input type="checkbox" name="switch01" checked data-size="mini" data-on-text="ON" data-off-text="OFF">
                        </span> 
                      </div>

                    </div>
                  <!-- endfilter  --> 

                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">     
                      <span class="label label-default rn-mar5"> Filter <strong>3</strong></span>
                      <span style="margin:0 50px;">Search by Keyword</span>
                      <div class="btn-group pull-right">
                        <span class="btn-group ">
                          <a href="04" type="button" class="btn btn-default btn-xs pull-right">EDIT</a>
                          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#filtermodal">
                             USE
                          </button>
                        </span>
                        <span style="padding-left:20px;">
                          <input type="checkbox" name="switch01" data-size="mini" data-on-text="ON" data-off-text="OFF" checked>
                        </span> 
                      </div>

                    </div>
                  <!-- endfilter  --> 

                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">     
                      <span class="label label-default rn-mar5"> Filter <strong>4</strong></span>
                      <span style="margin:0 50px;">Search by bla</span>
                      <div class="btn-group pull-right">
                        <span class="btn-group ">
                          <a href="04" type="button" class="btn btn-default btn-xs pull-right">EDIT</a>
                          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#filtermodal">
                             USE
                          </button>
                        </span>
                        <span style="padding-left:20px;">
                          <input type="checkbox" name="switch01" data-size="mini" data-on-text="ON" data-off-text="OFF">
                        </span> 
                      </div>

                    </div>
                  <!-- endfilter  --> 

                  </td>
                </tr>
              </table>


            
              <table class="table"> <!-- inner row -->
                <tr>
                  
                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">     
                      <svg height="70" width="75">
                      
                      <circle cx="42" cy="36" r="30" stroke="#DDD" stroke-width="4" fill="none" />
                      <circle cx="40" cy="35" r="30" stroke="orange" stroke-width="2" fill="none" />
                      
                      </svg>

                      <div class="pull-right"><h3 class="title">&deg;LobbyImages</h3></div>

                    </div>
                  <!-- endfilter  -->

                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">     
                      <span class="label label-default rn-mar5"> Filter <strong>1</strong></span>
                      <span style="margin:0 50px;">Search by frigobar size</span>
                      <div class="btn-group pull-right">
                        <span class="btn-group ">
                          <a href="04" type="button" class="btn btn-default btn-xs pull-right">EDIT</a>
                          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#filtermodal">
                             USE
                          </button>
                        </span>
                        <span style="padding-left:20px;">
                          <input type="checkbox" name="switch01" checked data-size="mini" data-on-text="ON" data-off-text="OFF">
                        </span> 
                      </div>

                    </div>
                  <!-- endfilter  --> 

                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">   

                      <span class="label label-default rn-mar5"> Filter <strong>2</strong></span>
                      <span style="margin:0 50px;">Search by pool availability</span>
                      <div class="btn-group pull-right">
                        <span class="btn-group ">
                          <a href="04" type="button" class="btn btn-default btn-xs pull-right">EDIT</a>
                          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#filtermodal">
                             USE
                          </button>
                        </span>
                        <span style="padding-left:20px;">
                          <input type="checkbox" name="switch01" data-size="mini" data-on-text="ON" data-off-text="OFF">
                        </span> 
                      </div>

                    </div>
                  <!-- endfilter  --> 

                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">     
                      <span class="label label-default rn-mar5"> Filter <strong>3</strong></span>
                      <span style="margin:0 50px;">Search by Resolution</span>
                      <div class="btn-group pull-right">
                        <span class="btn-group ">
                          <a href="04" type="button" class="btn btn-default btn-xs pull-right">EDIT</a>
                          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#filtermodal">
                             USE
                          </button>
                        </span>
                        <span style="padding-left:20px;">
                          <input type="checkbox" name="switch01" data-size="mini" data-on-text="ON" data-off-text="OFF" checked>
                        </span> 
                      </div>

                    </div>
                  <!-- endfilter  --> 

                  <!-- filter -->
                    <div class="rn-box-solo" style="padding:12px;">     
                      <span class="label label-default rn-mar5"> Filter <strong>4</strong></span>
                      <span style="margin:0 50px;">Search by Season</span>
                      <div class="btn-group pull-right">
                        <span class="btn-group ">
                          <a href="04" type="button" class="btn btn-default btn-xs pull-right">EDIT</a>
                          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#filtermodal">
                             USE
                          </button>
                        </span>
                        <span style="padding-left:20px;">
                          <input type="checkbox" name="switch01" data-size="mini" data-on-text="ON" data-off-text="OFF">
                        </span> 
                      </div>

                    </div>
                  <!-- endfilter  --> 

                  </td>
                </tr>
              </table>
            </div><!-- //close box -->


            <div class="">
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disable"><a href="#">2</a></li>
                <li class="disable"><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div><!-- close 12 -->   
        </div> <!-- close row -->

      </div> <!-- close 9 -->
      <div class="col-sm-3">
        <div class="rn-box-space">
          <strong>ToolBar </strong>

          <button type="button" class="btn btn-default btn-xs" style="float:right;">
          <i class="fa fa-question-circle"></i>
          </button>
          <button type="button" class="btn btn-success btn-xs" style="float:right;">
          <i class="fa fa-wrench"></i>
          </button>

        </div>
        <div class="rn-box-content">
          <p>Tools, one click away</p>

        </div>
      </div>    
    </div>
  </div>
</section>


<!-- Filter Modal -->
<div class="modal fade" id="filtermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sources</h4>
      </div>
      <div class="modal-body">
            
            
            
                <h3 class="lead"> Select your sources for</h3>


                <hr/>
                Source 1 URL:
                <input type="email" class="form-control" id="inputEmail3" placeholder="http://global.myring.io/hilton/roomimages#">

                <br/>
                Source 2 URL:
                <input type="email" class="form-control" id="inputEmail3" placeholder="http://global.myring.io/starwood/roomimages#">

                <br/>
                Source 3 URL:
                <input type="email" class="form-control" id="inputEmail3" placeholder="http://global.myring.io/bestwest/roomimages#">

                <br/>
                <button type="button" class="btn btn-default btn-xs" style="float:right;">
                  New Source
                </button>

                <hr/>
                Save this source combo as:
                <input type="email" class="form-control" id="inputEmail3" placeholder="DC Hotel Chains">



      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Search</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- modal end -->




{% endblock %}