{% extends 'index.html' %}


{% block content %}

<h3>What type of API you want to use?</h3>
<hr/>

	<a href="02" class="btn btn-lg btn-warning" style="width:50%;"> RESTFUL (JASON) </a>
		
	<a href="02" class="btn btn-lg btn-default" style="width:50%;"> RESTFUL (XML) </a>

	<a href="02" class="btn btn-lg btn-default" style="width:50%;"> SOAP </a>

	<a href="02" class="btn btn-lg btn-default" style="width:50%;"> CSV </a>

	<hr/>

	<a href="05" class="btn btn-lg btn-default" style="width:50%;"> GLOBAL RINGS </a>
		




{% endblock %}