{% extends 'index.html' %}
{% block insect %}
<div class="rn-hp5 pull-left"><span class="label label-x">X</span></div> 
<div class="pull-left"> ABE-03</div>{% endblock %}
{% block content %}

{% block content %}

<h3>Congratulations!</h3>
<hr/>

	<p>Your RESTful (JSON) API "Hilton Materials" exposing &deg;Hotels and &deg;Hotels has been generated</p>


	<div class="input-group">
    <div class="input-group-addon"><i class="fa fa-home"></i>  Home URI </div>
    <input class="form-control" type="text" placeholder="http://">
  </div>
  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-book"></i>  Documentation </div>
    <input class="form-control" type="text" placeholder="http://">
  </div>
  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-users"></i> User Management </div>
    <input class="form-control" type="text" placeholder="http://">
  </div>


<br/>
<a href="00" class="btn btn-primary">GO TO START</a>


{% endblock %}