{% extends 'index.html' %}
{% block insect %}
<div class="rn-hp5 pull-left"><span class="label label-x">X</span></div> 
<div class="pull-left"> ABE-00</div>{% endblock %}


{% block content %}

<h3>What Ring(s) do you want to publish</h3>
<hr/>

	
	
	<div>
	<input type="checkbox" name="translator" value="01" data-on-color="warning" data-size="mini" data-on-text="&#x2714;" data-off-text="-" checked> <span class="lead"> &deg;Hotels </span>
	</div>

	<div>
	<input type="checkbox" name="translator" value="01" data-on-color="warning" data-size="mini" data-on-text="&#x2714;" data-off-text="-"> <span class="lead"> &deg;HotelRooms </span>
	</div>

	<div>
	<input type="checkbox" name="translator" value="01" data-on-color="warning" data-size="mini" data-on-text="&#x2714;" data-off-text="-"> <span class="lead"> &deg;HotelImages </span>
	</div>

	<br/>
	<br/>

	<div>
	<input type="checkbox" name="translator" value="01" data-on-color="warning" data-size="mini" data-on-text="&#x2714;" data-off-text="-" checked> <span class="lead"> Search by Metadata</span>
	</div>



<hr/>
<a href="01" class="btn btn-primary">Next</a>


{% endblock %}
