{% extends 'avi/avi-A.html' %}
{% block insect %}AVI-06{% endblock %}

{% load static %}

                        {% block result1 %}

                        <div class="rn-box-space">
                            
                                    <div class="btn-group pull-right">
                                        <a href="01" type="button" class="btn btn-default btn-xs">
                                        <i class="fa fa-th-list"></i>
                                        </a>
                                        <a href="06" type="button" class="btn btn-primary btn-xs">
                                            <i class="fa fa-th-large"></i>
                                        </a>
                                    </div>
                                    <strong>25 Results</strong>
   
                        </div>

                        <!-- RESULT LIST START -->

                        <div class="rn-box-content">

                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                        <img style="width:100px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
                            
                        
                            
                        </div><!-- //close box content -->
                        <div class="">
                            <ul class="pagination">
                              <li><a href="#">&laquo;</a></li>
                              <li class="active"><a href="#">1</a></li>
                              <li class="disable"><a href="#">2</a></li>
                              <li class="disable"><a href="#">3</a></li>
                              <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>


                        <!-- RESULT LIST FIN -->


                        {% endblock %}