{% extends 'index.html' %}
{% block insect %}
<div class="rn-hp5 pull-left"><span class="label label-m">M</span></div> 
<div class="pull-left"> AVI-02</div>
{% endblock %}

{% block content %}


<!-- START NEW CONTENT -->

<section class="bp-20 p-50"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Avispa Content 2</h1>
      	<br/>
        <div class="text-center">
        <h1>Avispa Content inside</h1>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}