{% extends 'index.html' %}
{% block insect %}
<div class="rn-hp5 pull-left"><span class="label label-m">M</span></div> 
<div class="pull-left"> AVI-00</div>
{% endblock %}

{% block crumb %}
<button type="button" class="btn btn-default bt-crumb"><i class="fa fa-chevron-right"></i></button>
<button type="button" class="btn btn-default">Local Ring</button>

{% endblock crumb%}

{% block content %}


<!-- START NEW CONTENT --> 


<section class="bp-20 p-50">
    <div class="container">
        <div class="row">
            
            <div class="col-md-9">  


                <div class="row">
                    <div class="col-sm-12">
                        <div class="rn-box-title">
                            <strong>@MTV_network</strong>
                            
                            <button type="button" class="btn btn-default btn-xs pull-right">
                            <i class="fa fa-question-circle"></i>
                            </button>

                            <a href="05" type="button" class="btn btn-warning btn-xs pull-right">
                            <i class="fa fa-search"></i> SEARCH
                            </a>

                            
                            

                            

                        </div>
                        <div class="rn-box-solo">
                            <div class="pull-right rn-t3 text-right">
                                <i class="fa fa-dot-circle-o fa-2x" style="color:#CCC; padding:0 10px;"></i>
                            </div>
                        
                            <div class="pull-right rn-t3 text-right"><strong>Friday July 19, 2014</strong><br/> 34,543 Resources
                            </div>
                            <div class="rn-t2">Local Rings</div>

                            
                        </div>
                        <!-- <div class="rn-box-space">
                            
                                <div class="rn-b1">123</div>
                            
                        </div> -->
                        <div class="rn-box-content">
                            
                         
                        
                            <table class="table table-striped"> <!-- inner row -->
                                

                                <tr>
                                    <td> <div class="text-right lead"><h3>343</h3></div></td>
                                    <td> 
                                        <svg height="70" width="75" >
                                        
                                        <circle cx="42" cy="36" r="30" stroke="#DDD" stroke-width="4" fill="none" />
                                        <circle cx="40" cy="35" r="30" stroke="orange" stroke-width="2" fill="none" />
                                        
                                        </svg></td>
                                    <td> 
                                        
                                        <a class="rn-b1" href="01">&deg;Events</a>
                                        <hr/>
                                        <p class="rn-t3 rn-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel placerat urna. In eget magna non sem gravida facilisis. </p>
                                    </td>
                                    <td style="min-width:200px;"> 
                                        <div class="pull-right">
                                            <div class="btn-group">
                                              <a href="01" type="button" class="btn btn-success">View</a>
                                              <a href="03" type="button" class="btn btn-info">New</a>
                                              
                                            </div>
                                            <br/><br/>
                                            <span class="label label-discrete pull-right">Yesterday</span>
                                        </div>
                                    </td>
                                    
                                </tr>

                                <tr>
                                    <td> <div class="text-right lead"><h3>1,425</h3></div></td>
                                    <td> 
                                        <svg height="70" width="75" >
                                        
                                        <circle cx="42" cy="36" r="30" stroke="#DDD" stroke-width="4" fill="none" />
                                        <circle cx="40" cy="35" r="30" stroke="red" stroke-width="2" fill="none" />
                                        
                                        </svg></td>
                                    <td> 
                                        
                                        
                                        <a class="rn-b1" href="01">&deg;Music Videos</a>
                                        <hr/>

                                        <p class="rn-t3 rn-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel placerat urna. In eget magna non sem gravida facilisis. </p>
                                    </td>
                                    <td style="min-width:200px;"> 
                                        <div class="pull-right">
                                            <div class="btn-group">
                                              <button type="button" class="btn btn-success">a</button>
                                              <button type="button" class="btn btn-warning">b</button>
                                              <button type="button" class="btn btn-info">c</button>
                                              <button type="button" class="btn btn-default">d</button>
                                            </div>
                                            <br/><br/>
                                            <span class="label label-discrete pull-right">Today 3:45pm</span>
                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td> <div class="text-right lead"><h3>343</h3></div></td>
                                    <td> 
                                        <svg height="70" width="75" >
                                        
                                        <circle cx="42" cy="36" r="30" stroke="#DDD" stroke-width="4" fill="none" />
                                        <circle cx="40" cy="35" r="30" stroke="purple" stroke-width="2" fill="none" />
                                        
                                        </svg></td>
                                    <td> 
                                        
                                        
                                        <a class="rn-b1" href="01">&deg;Party Photos</a>
                                        <hr/>

                                        <p class="rn-t3 rn-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel placerat urna. In eget magna non sem gravida facilisis. </p>
                                    </td>
                                    <td style="min-width:200px;"> 
                                        <div class="pull-right">
                                            <div class="btn-group">
                                              <button type="button" class="btn btn-success">a</button>
                                              <button type="button" class="btn btn-warning">b</button>
                                              <button type="button" class="btn btn-info">c</button>
                                              <button type="button" class="btn btn-default">d</button>
                                            </div>
                                            <br/><br/>
                                            <span class="label label-discrete pull-right">2 Months ago</span>
                                        </div>
                                    </td>
                                    
                                </tr>

                            </table>
                        </div><!-- //close box -->
                        <div class="">
                            <ul class="pagination">
                              <li><a href="#">&laquo;</a></li>
                              <li class="active"><a href="#">1</a></li>
                              <li class="disable"><a href="#">2</a></li>
                              <li class="disable"><a href="#">3</a></li>
                              <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div><!-- close 12 -->   
                </div> <!-- close row -->

            </div> <!-- close 9 -->
            <div class="col-sm-3">
                <div class="rn-box-space">
                            <strong>ToolBar </strong>

                            <button type="button" class="btn btn-default btn-xs" style="float:right;">
                            <i class="fa fa-question-circle"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" style="float:right;">
                            <i class="fa fa-wrench"></i>
                            </button>

                </div>
                <div class="rn-box-content">
                
                    <p>Tools, one click away</p>

                </div>
            </div>    

        </div>
    </div>
</section>






{% endblock %}
