{% extends 'avi/avi-B.html' %}
{% block insect %}
<div class="rn-hp5 pull-left"><span class="label label-m">M</span></div> 
<div class="pull-left"> AVI-07</div>
{% endblock %}

{% load static %}

{% block form-0 %}      
                    @Hilton-Times-Square
{% endblock%}                            


{% block form-1 %}
                     <img style="width:150px;" src="{% static 'images/bea.jpg' %}" class="img-thumbnail" >
{% endblock%}

{% block form-2 %}
            <dl class="dl-horizontal text-left">
                      <dt>Name:</dt>
                      <dd>Sunsetroom1.jpg</dd>

                      <dt>Format:</dt>
                      <dd>JPG</dd>

                      <dt>Width:</dt>
                      <dd>900px</dd>

                      <dt>Height:</dt>
                      <dd>400px</dd>
             </dl> 
{% endblock%}


{% block form-3 %}
                     
                     <h3> Princess Room</h3>
{% endblock%}

                                       
{% block form-4 %}  
                      <p>Allow browsers to determine video or slideshow dimensions based on the width of their containing block by creating an intrinsic ratio that will properly scale on any device.
                      </p>     
{% endblock%}

                                    
{% block form-5 %}
                  <div >
                    <span class="label label-success rn-mar5"> Deluxe Room </span>
                    <span class="label label-success rn-mar5"> Jacuzzi </span>
                    <span class="label label-success rn-mar5"> Ocean View </span>
                    <span class="label label-warning rn-mar5"> Hotels </span>
                    <span class="label label-warning rn-mar5"> Room Images  </span>
                    <span class="label label-warning rn-mar5"> Space stations </span>
                  </div>
{% endblock%}


{% block form-6 %}
                    <a type="submit" class="btn btn-primary">Edit</a>


                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                         Delete This
                    </button>
{% endblock%}