{% extends 'index.html' %}


{% block content %}

<h2><span class="label label-m">M</span></h2><h3>I'm a Data Modeler</h3>
<hr/>

	<div class="lead">Actions for this ring:</div>

	<a href="08" class="btn btn-default btn-fix1">
		<h3><i class="fa fa-gear fa-2x"></i></h3>Clone
	</a>
	<a href="09" class="btn btn-default btn-fix1">
		<h3><i class="fa fa-gear fa-2x"></i></h3>New Plugin
	</a>
	<a href="10" class="btn btn-default btn-fix1">
		<h3><i class="fa fa-gear fa-2x"></i></h3>Clone
	</a>
	<a href="18" class="btn btn-default btn-fix1">
		<h3><i class="fa fa-gear fa-2x"></i></h3>Link
	</a>



{% endblock %}