{% extends 'index.html' %}


{% block content %}

<h1>&deg;BikeParts</h1>

	<a href="04" class="btn btn-default pull-right">
      <i class="fa fa-gear fa-2x"></i>
  </a> 


<div class="lead">This ring is a collection of complete product lines of multiple brands</div>
<hr/>

	<div class="row">
		<div class="col-sm-6"> <!--  COLUMN 1 -->
			<h4><span class="label label-default">Summary</span></h4>

				Super cool graphic here


			<h4><span class="label label-default">Subscribers</span></h4>

				Super cool graphic here
				

			<h4><span class="label label-default">Blueprint</span></h4>

				Super cool graphic here
				

			<h4><span class="label label-default">Mirror Distribution</span></h4>

				Super cool graphic here
			
			<h4><span class="label label-default">Versions</span></h4>

				Super cool graphic here


		</div>

		<div class="col-sm-6 well"> <!--  COLUMN 2 -->
			<h4><span class="label label-default">Sample search</span></h4>

				Smart Ajax badass search here

				Name <input type="text" class="form-control" placeholder="Bycicle"><br/>
				Desc <input type="text" class="form-control" placeholder="Bycicle"><br/>
				Reference <input type="text" class="form-control" placeholder="Bycicle"><br/>
				Specs <input type="text" class="form-control" placeholder="Bycicle"><br/>

			<h4><span class="label label-default">License</span></h4>

				Super cool graphic here

			<h4><span class="label label-default">Plugins</span></h4>

				Super cool graphic here	

			<h4><span class="label label-default">Alias</span></h4>

				Super cool graphic here
					
		</div>


	</div>			

<hr/>
<a href="00" class="btn btn-primary">OK</a>


{% endblock %}