{% extends 'index.html' %}
{% block insect %}CHA-04{% endblock %}


{% block content %}

<h3>Who are you?</h3>
<hr/>

	<a href="05" class="btn btn-default lead"><h3><span class="label label-m">M</span></h3>I'm a data Modeler</a>
	<a href="06" class="btn btn-default lead"><h3><span class="label label-c">C</span></h3>I Capture Data</a>
	<a href="07" class="btn btn-default lead"><h3><span class="label label-x">X</span></h3>I Want to use the Data</a>
	<a href="15" class="btn btn-default lead"><h3><span class="label label-h">H</span></h3>I want to help this ring</a>




{% endblock %}